<div class="row">

<div class="img-jumbo">
<%= image_tag("blowup.jpg") %>
</div>
  <div class="jumbotrony">
    <h1 class="welcome-header">Doom Box</h1>
    <p>You sign up. We save your life. </p>
    <p class="btn btn-danger btn-lg"><%= link_to "Learn more", products_path %></p>
  </div>

<div>
