//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cosmo variables
@import "bootswatch/slate/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
// body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/slate/bootswatch";

// Whatever application styles you have go last
// @import "base";
