//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cosmo variables
@import "bootswatch/slate/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
// body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/slate/bootswatch";

// Whatever application styles you have go last
// @import "base";
@import url(http://fonts.googleapis.com/css?family=Trade+Winds|Finger+Paint|Frijole|Creepster);

h1.welcome-header {
  font-family: 'Creepster', cursive;
  font-size: 83px;
  margin-top: 0;
  text-align: center;
  padding-top: 20px;

}

.jumbotrony {
  text-align: center;


}

.img-jumbo {
  width:100%;
  margin-right: -225px;
  margin-left: -255px;
  margin-top: -20px;
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
      }
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

.name {
  text-align: right;
  margin-top: 05px;
  margin-right: 13px;
}

.modal-img {
  width:450px;
  height: 450px;
  position: inline-center;
}

.modal-content {
  display: inline-block;
  text-align: center;
  position: relative;
}

.model-body img{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
