<div class="row">
	<div class="col-lg-12" id="questions">
		<h1 class="headline">All Products</h1>

			<% @products.each  do |product| %>
				<div class="col-lg-4">
				<img class="responsive center-block" src="http://placehold.it/200x200" alt="product-picture">
					<%= link_to product.name, product_path(product) %>
				</div>
			<% end %>


	</div>
		<button class="btn btn-primary"><%= link_to 'Add a Product', new_product_path  %></button>
</div>
