<div class="container">

				<ul class="row">
      	<% @products.each  do |product| %>
	        <li class="col-lg-3">
	        	<p><%= link_to product.month, product_path(product) %></p>
	          <a class="img-responsive center-block"><%= image_tag product.image.url(:thumb) %></a>
	          <p class="name"><%= link_to product.name, product_path(product) %></p>
	        </li>
				<% end %>
				</ul>

<% if current_admin %>
	<button class="btn btn-primary"><%= link_to 'Add a Product', new_product_path  %></button>
<% end %>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
